@import "tailwindcss";

@theme {
  --collor-primary: #5ca5a5;
  --collor-primary-10: rgba(92, 165, 165, 0.1);
  --collor-light: #effafa;
  --color-secondary: #2b3939;
  --collor-gray: #7c8f8f;
  --shedow-card-hover: 0 15px 20px -5px #0d718226;
}

.talin {
  padding: 32px 40px 32px 40px;
  margin-top: 26px;
}

*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1142px;
  margin: 0 auto 0 auto;
  padding: 0 8px 0 8px;
}
body {
  min-height: 100vh;
  background-color: lightcyan;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
}
